@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner&display=swap');


/* LANDING PAGE */

.landing-body{
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh; /*  The full view port (screen) */
    background-image: url('https://img.freepik.com/free-photo/frame-vegetables-herbs-light-table-cooking-background-view-from-cooking-ingredients-background-menu-table-copy-space_88526-1614.jpg?w=2000');
    overflow: hidden;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 363px;
}

.search-input{
    width: 450px;

    border-radius: 20px;

    padding: 10px;

    outline: auto;

    background-color: transparent;
}





/* SEARCHED PAGE */











/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }